* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Roboto', sans-serif;
    color: white;
}

:root {
    --shadow-text: 0 -1px 0 #ebb611, 0 1px 0 #111c20, 0 2px 0 #111c20, 0 3px 0 #111c20, 0 4px 0 #111c20, 0 5px 0 #111c20, 0 6px 0 #111c20, 0 7px 0 #111c20, 0 8px 0 #111c20, 0 9px 0 #111c20, 0 10px 0 #111c20, 0 11px 0 #111c20, 0 12px 0 #111c20, 0 13px 0 #111c20, 0 14px 0 #111c20, 0 15px 0 #111c20, 0 22px 30px rgba(0,0,0,0.9);
    --shadow-text-2: 0 -1px 0 #ebb611, 0 1px 0 #111c20, 0 2px 0 #111c20, 0 3px 0 #111c20, 0 4px 0 #111c20, 0 6px 0 #111c20, 0 7px 0  rgba(0,0,0,0.9);
}

body {
    background-image: url(imgs/daniel0284_lone_man_in_his_twenties_in_an_empty_falling_city_ni_1c2ffbc7-f3d7-43b2-b082-588a913b1868.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

nav {
    display: flex;
    gap: 0.8em;
}

nav a {
    font-size: 1.2em;
}

nav a:hover{
    color: #5f5df3; 
    border-bottom: 1px solid #8f8df5;
    transition: all 0.5s ease;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#introducao {
    min-height: 100vh;
    height: 100vh;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titulo {
    letter-spacing: 4px;
    font-size: 4em;
    font-family: 'Rubik Moonrocks', cursive;
    color: #1f4a53; 
    text-shadow: var(--shadow-text)
}

.sub-titulo{
    color: #1f4a53; 
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 2em;
    letter-spacing: 8px;
    text-shadow: var(--shadow-text-2);
    margin-top: 1em;
}

#projetos {
    background-color: #0b1319;
}






.formulario {
    width: 40%;
}

.formulario p {
    margin-top: 1em;
    font-weight: 500;
    text-shadow: 1px 1px #000535
}

.formulario input {
    margin-top: 10px;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #5250cc;
    width: 50%;
    padding: 6px;
    border-radius: 8px 0px 0px 8px;
    cursor: pointer;
}

input[type="email"]:focus {
    box-shadow: 1px 1px 8px #5250cc;
    outline: 3px solid transparent;
    border: 2px solid #5250cc;
}

.formulario button {
    font-size: 0.9em;
    color: #fff598;
    background: linear-gradient(to right,#5250cc 50%, #363491 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    transition: all 300ms ease-out;
    cursor: pointer;
    width: 15%;
    padding: 6px;
    border-radius: 0px 8px 8px 0px;
    border: 0;
    margin-left: -4px;
}

.formulario button:hover {
    background-position: left bottom;
   /* border: 1px solid #5250cc;
    transition: 0.4s ease; */
}



/* Mobile */
@media only screen and (max-width: 480px){
    body {
        height: 130vh;
        
    }

    nav a {
        font-size: 1em;
    }

    #logo img {
        width: 40px;
    }

    .formulario {
        width: 100%;
        margin-bottom: 50px;
    }

    .formulario button {
        width: 20%;
    }
}

/* Tablet */
@media only screen and (max-width: 768px){
    .formulario {
        width: 100%;
    }
}